.header {
	height: 100px;
	padding: 20px 30px;
	background-image: var(--gradient-1);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 3rem;
	font-weight: 500;
	font-family: var(--font1);
}