@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

:root {
  --color-1: #edc7b7;
  --color-2: #eee2dc;
  --color-3: #bab2b5;
  --color-4: #123c69;
  --color-5: #ac3b61;

  --gradient-1: linear-gradient(to bottom, var(--color-1), var(--color-2));
  --gradient-2: linear-gradient(to bottom, var(--color-2), var(--color-1));

  --font1: "Indie Flower", cursive;
}

.App {
  text-align: center;
}
